/*
React style
BlockName-ElemName_modName_modVal

Names are written in Latin letters.

Names of blocks and elements begin with an uppercase letter. Names of modifiers begin with a lowercase letter.

Each word inside a name begins with an uppercase letter.

An element name is separated from the block name by a single hyphen (-).

The separators between names and values of modifiers are the same as in the standard scheme.
 */
.Header {
  width: 100%;
  height: 80px;
  background-color: #FCFCFC;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #E3E5F2;

  &-Menu{
    margin: 0 36px 0 36px;
  }
  &-Logo{
    margin-right: 12px;
  }
  &-WordMark{

  }

  &-Search {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &-Login {
    &-Link {
      width: 190px;
      height: 50px;
      background-color: #3772FF;
      border-radius: 90px;
      border: none;
      text-align: center;
      line-height: 50px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #FCFCFC;
      margin-right: 30px;
      display: inherit;
    }
  }
}



