{% extends "account/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Edit</h3>
                </div>
                <div class="card-body">

                    <h1>Edit your account</h1>
                    <p>You can edit your account using the following form:</p>
                    <form action="." method="post" enctype="multipart/form-data">
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Save changes"></p>
                    </form>

                    <a class="btn btn-primary" href="{% url 'dashboard' %}"> cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}